.wrapper
  = render "messages/chat-side"

  .chat-main
    .main-header
      .main-header__left-box
        %h2.main-header__left-box__current-group
          =@group.name
        %ul.main-header__left-box__member-list
          - @group.users.each do |user|
            =user.name
            

          
          .main-header__edit-btn
            Edit


    .messages
      = render @messages
      -# .message
      -#   .message__upper-info
      -#     .message__upper-info__talker
      -#       una
      -#     .message__upper-info__date
      -#       2019/09/11(Wed) 20:19:09
      -#   .message__text
      -#     aaaaa

      -#   .message__upper-info
      -#     .message__upper-info__talker
      -#       una
      -#     .message__upper-info__date
      -#       2019/09/11(Wed) 20:19:09
      -#   .message__text
      -#     aaaaa
    
    -# .form
    -#   %form
    -#     %input.form__message
    -#     .form__icon
    -#       %label.form__icon__image
    -#         = fa_icon 'picture-o', class: 'icon'
    -#         %input.hidden{type: 'file'}
    -#     %input.form__submit-btn{type: 'submit', value: 'Send'}

    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'form__submit'